<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="logs/MainLog.txt" />
		<target name="logconsole" xsi:type="ColoredConsole" layout="(${longdate}) [${callsite}] ${message}">
			<highlight-word regex="\([^)]+\)" foregroundColor="DarkGray" />
			<highlight-word regex="\[[^]]+\]" foregroundColor="Blue" />
			<highlight-word regex="Стан В работе: False!" foregroundColor="Red" />
			<highlight-word regex="Стан В работе: True!" foregroundColor="Green" />
			<highlight-word regex="Недоступен" foregroundColor="Red" />
			<highlight-word regex="Connection result = 3" foregroundColor="Yellow" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>